[Desktop Entry]
Version=1.0
Type=Application
Name=Aqloss
GenericName=Audio, uncompromised.
Comment=Aqloss is a music player built around a Rust audio engine, with optional WASAPI Exclusive mode on Windows for bit-perfect output to compatible hardware.
Exec=Aqloss
Icon=xyz.nokarin.aqloss
Categories=Audio;Music;Player;AudioVideo;
Terminal=false
StartupWMClass=Aqloss
Keywords=audio;player;music;linux;